{% load static %}

{% if user.is_authenticated %}
<div class="side-bar" style="overflow-y: scroll;">
    <div id="close-btn">
       <i class="fas fa-times"></i>
    </div>
 
    <div class="profile">
      {% if  user.profile_image%}
        
      <img src="{{ user.profile_image.url }}" class="image" alt="Profile image">
      {% else %}

      <img src="{% static 'images/pic-2.jpg'%}" class="image" alt="Profile image">
      {% endif %}
       <h2 class="role">{{ user.email }}</h2>
       <p class="role">student</p>
       <a href="/profile" class="btn">view profile</a>
    </div>
 
    <nav class="navbar">
       <a href="/home"><i class="fas fa-home"></i><span>home</span></a>
       <a href="/about"><i class="fas fa-question"></i><span>about</span></a>
       <a href="/my_courses"><i class="fas fa-graduation-cap"></i><span>My courses</span></a> 
       <a href="/course_detail"><i class="fas fa-graduation-cap"></i><span>All courses</span></a> 
       <a href="/contact"><i class="fas fa-headset"></i><span>contact us</span></a>
       <!-- <a href="/certificate" >
         <i class="fas fa-file-alt"></i><span>certificate</span>
      </a> -->
      
       <a href="/exam"><i class="fas fa-file-alt"></i><span>exam</span></a>
       <a href="/quiz_attempts"><i class="fas fa-file-alt"></i><span>Quiz Attempts</span></a>
    </nav>
 
</div>
{% endif %}

<script defer>


   function removeActiveClass() {
      // Prevent default action if necessary (e.g., to stop navigation temporarily)
     
     // Select elements
     const sideBar = document.querySelector('.side-bar');
     const body = document.body;
  
     // Toggle 'active' class on both elements if they exist
     if (sideBar) {
        sideBar.classList.toggle('active');
        console.log("Toggled 'active' class on sidebar");
     } else {
        console.log("Sidebar element not found");
     }
  
     body.classList.toggle('active'); // Always toggle on body
     console.log("Toggled 'active' class on body");
     
  }
  if(window.location.pathname =='/certificate/'){
    removeActiveClass();
  }

 </script>