{% extends "base.html" %}
{% block staticfile %}
{% load static %}

{% endblock staticfile %}
{% block title %}Course Detail{% endblock %}

{% block content %}
<section class="exam">
   <h1>{{ quiz_type|title }} Exam</h1>

    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <h3>{{ question.question }}</h3>
                {% for choice in question.choices %}
                    <label>
                        <input type="radio" name="question_{{ forloop.parentloop.counter }}" value="{{ forloop.counter0 }}">
                        {{ choice }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
   
</section>

{% endblock%}
