{% extends "base.html" %}
{% block staticfile %}
{% load static %}

{% endblock staticfile %}
{% block title %}Profile {% endblock %}

{% block content %}

<section class="user-profile">

   <h1 class="heading">your profile</h1>

   <div class="info">

      <div class="user">
         {% if  user.profile_image%}
           
         
         <img src="{{ user.profile_image.url }}" class="image" alt="Profile image">
         
         {% else %}

         <img src="{% static 'images/pic-2.jpg'%}" class="image" alt="Profile image">
         {% endif %}
      <h2>{{ user.email }}</h2>
         <p>student</p>
         <a href="/update" class="inline-btn">update profile</a>
      </div>
   
      <div class="box-container">
   
         <div class="box">
            <div class="flex">
               <i class="fas fa-bookmark"></i>
               <div>
                  <span>4</span>
                  <p>saved playlist</p>
               </div>
            </div>
            <a href="#" class="inline-btn">view playlists</a>
         </div>
   
         <div class="box">
            <div class="flex">
               <i class="fas fa-heart"></i>
               <div>
                  <span>33</span>
                  <p>videos liked</p>
               </div>
            </div>
            <a href="#" class="inline-btn">view liked</a>
         </div>
   
         <div class="box">
            <div class="flex">
               <i class="fas fa-comment"></i>
               <div>
                  <span>12</span>
                  <p>videos comments</p>
               </div>
            </div>
            <a href="#" class="inline-btn">view comments</a>
         </div>
   
      </div>
   </div>

</section>










{%endblock%}