{% extends "base.html" %}
{% block staticfile %}
{% load static %}

{% endblock staticfile %}
{% block title %}Home{% endblock %}

{% block content %}
<main>

   
   <section class="courses">
      <h1 class="heading">Our Courses</h1>
   
      <div class="box-container">
         <!-- Course 1 -->
         <div class="box">
            <div class="tutor">
               <img src="{% static 'images/pic-2.jpg' %}" alt="">
               <div class="info">
                  <h3>John Doe</h3>
                  <span>21-10-2022</span>
               </div>
            </div>
            <div class="thumb">
               <img src="{% static 'images/thumb-1.png' %}" class="image" alt="">
               <span>6 videos</span>
            </div>
            <h3 class="title">Complete HTML Tutorial</h3>
            <a href="{% url 'course_playlist' 1 %}" class="inline-btn">View Playlist</a>
         </div>
   
         <!-- Additional courses as needed -->
   
      </div>
   
      <div class="more-btn">
         <a href="{% url 'course_detail' %}" class="inline-option-btn">View All Courses</a>
      </div>
   </section>
</main>
{% endblock %}
