{% extends "base.html" %}
{% block staticfile %}
{% load static %}

{% endblock staticfile %}
{% block title %}Login{% endblock %}

{% block content %}
<main>

    <section class="form-container">
    
       <form action="{% url 'login' %}" method="post" >
           {% csrf_token %}
          <h3>login now</h3>
          <p>your email <span>*</span></p>
          <input type="email" name="email" placeholder="enter email" required maxlength="50" class="box">
          <p>your password <span>*</span></p>
          <input type="password" name="password" placeholder="enter password" required maxlength="20" class="box">
          <input type="submit" value="login new" name="submit" class="btn">
          <p>Create an Account :   <a href="/register/">Register</a></p>
      
      
         
         
        
          {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
      
       </form>
    
    </section>
</main>

{% endblock%}